<%- include("partials/header.ejs") %>
<%- include("partials/menu.ejs") %>

<section id="Contact" class="gradient-background">
    <div class="container col-xxl-8 px-4 pt-0">
      <div class="row flex-lg-row-reverse align-items-center g-5 pt-5">
        <div class="col-10 col-sm-8 col-lg-6">
          <img src="/styles/images/it.png" class="d-block mx-lg-auto image" alt="Ti"  height="300" loading="lazy">
        </div>
        <div class="col-lg-6">
          <h1 class="display-5 fw-bold text-light lh-1 mb-3">All product</h1>
        </div>
      </div>
    </div>
</section>

<section id="Product">
    <div class="my-5">
        <div class="p-5 text-center">
            <div class="row">
                <div class="col-md-3 col-sm-6">
                    <div class="product-grid">
                        <div class="product-image">
                            <a href="#" class="image">
                                <!-- For Education -->
                                <img src="https://img.advice.co.th/images_nas/pic_product4/A0158653/A0158653OK_BIG_HAD_1.jpg">
                            </a>
                            <span class="product-discount-label">-23%</span>
                            <ul class="product-links">
                                <li><a href="#"><i class="bi bi-search"></i></a></li>
                                <li><a href="#"><i class="bi bi-heart"></i></a></li>
                                <li><a href="#"><i class="bi bi-shuffle"></i></a></li>
                            </ul>
                            <a href="" class="add-to-cart">Add to Cart</a>
                        </div>
                        <div class="product-content">
                            <h3 class="title"><a href="#">CPU INTEL CORE I9-14900KS LGA 1700</a></h3>
                            <div class="price">$400.55 <span>$550.88</span></div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6">
                    <div class="product-grid">
                        <div class="product-image">
                            <a href="#" class="image">
                                <img src="https://img.advice.co.th/images_nas/pic_product4/A0155192/A0155192OK_BIG_HAD_1.jpg">
                            </a>
                            <ul class="product-links">
                                <li><a href="#"><i class="bi bi-search"></i></a></li>
                                <li><a href="#"><i class="bi bi-heart"></i></a></li>
                                <li><a href="#"><i class="bi bi-shuffle"></i></a></li>
                            </ul>
                            <a href="" class="add-to-cart">Add to Cart</a>
                        </div>
                        <div class="product-content">
                            <h3 class="title"><a href="#">MAINBOARD (1700) ASUS ROG MAXIMUS Z790 FORMULA DDR5	
                            </a></h3>
                            <div class="price">$250.55</div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6">
                    <div class="product-grid">
                        <div class="product-image">
                            <a href="#" class="image">
                                <img src="https://img.advice.co.th/images_nas/pic_product4/A0158472/A0158472OK_BIG_HAD_1.jpg">
                            </a>
                            <ul class="product-links">
                                <li><a href="#"><i class="bi bi-search"></i></a></li>
                                <li><a href="#"><i class="bi bi-heart"></i></a></li>
                                <li><a href="#"><i class="bi bi-shuffle"></i></a></li>
                            </ul>
                            <a href="" class="add-to-cart">Add to Cart</a>
                        </div>
                        <div class="product-content">
                            <h3 class="title"><a href="#">MSI GEFORCE RTX 4080 SUPER EXPERT - 16GB GDDR6X</a></h3>
                            <div class="price">$75.55</div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6">
                    <div class="product-grid">
                        <div class="product-image">
                            <a href="#" class="image">
                                <img src="https://img.advice.co.th/images_nas/pic_product4/A0158746/A0158746OK_BIG_HAD_1.jpg">
                            </a>
                            <ul class="product-links">
                                <li><a href="#"><i class="bi bi-search"></i></a></li>
                                <li><a href="#"><i class="bi bi-heart"></i></a></li>
                                <li><a href="#"><i class="bi bi-shuffle"></i></a></li>
                            </ul>
                            <a href="" class="add-to-cart">Add to Cart</a>
                        </div>
                        <div class="product-content">
                            <h3 class="title"><a href="#">ASUS GEFORCE RTX 4080 SUPER NOCTUA O16G</a></h3>
                            <div class="price">$75.55</div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6">
                    <div class="product-grid">
                        <div class="product-image">
                            <a href="#" class="image">
                                <img src="https://img.advice.co.th/images_nas/pic_product4/A0157095/A0157095OK_BIG_HAD_1.jpg">
                            </a>
                            <ul class="product-links">
                                <li><a href="#"><i class="bi bi-search"></i></a></li>
                                <li><a href="#"><i class="bi bi-heart"></i></a></li>
                                <li><a href="#"><i class="bi bi-shuffle"></i></a></li>
                            </ul>
                            <a href="" class="add-to-cart">Add to Cart</a>
                        </div>
                        <div class="product-content">
                            <h3 class="title"><a href="#">RAM DDR5(8000) 32GB (16GBX2) KINGSTON FURY RENEGADE RGB</a></h3>
                            <div class="price">$75.55</div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6">
                    <div class="product-grid">
                        <div class="product-image">
                            <a href="#" class="image">
                                <img src="https://img.advice.co.th/images_nas/pic_product4/A0159773/A0159773OK_BIG_HAD_1.jpg">
                            </a>
                            <ul class="product-links">
                                <li><a href="#"><i class="bi bi-search"></i></a></li>
                                <li><a href="#"><i class="bi bi-heart"></i></a></li>
                                <li><a href="#"><i class="bi bi-shuffle"></i></a></li>
                            </ul>
                            <a href="" class="add-to-cart">Add to Cart</a>
                        </div>
                        <div class="product-content">
                            <h3 class="title"><a href="#">E-ATX CASE HYTE Y60 BLACK</a></h3>
                            <div class="price">$80.55</div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6">
                    <div class="product-grid">
                        <div class="product-image">
                            <a href="#" class="image">
                                <img src="https://img.advice.co.th/images_nas/pic_product4/A0146460/A0146460OK_BIG_HAD_1.jpg">
                            </a>
                            <ul class="product-links">
                                <li><a href="#"><i class="bi bi-search"></i></a></li>
                                <li><a href="#"><i class="bi bi-heart"></i></a></li>
                                <li><a href="#"><i class="bi bi-shuffle"></i></a></li>
                            </ul>
                            <a href="" class="add-to-cart">Add to Cart</a>
                        </div>
                        <div class="product-content">
                            <h3 class="title"><a href="#">POWER SUPPLY (80+ TITANIUM) 1600W ASUS ROG THOR 1600T</a></h3>
                            <div class="price">$75.55</div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6">
                    <div class="product-grid">
                        <div class="product-image">
                            <a href="#" class="image">
                                <img src="https://img.advice.co.th/images_nas/pic_product4/A0154394/A0154394OK_BIG_HAD_1.jpg">
                            </a>
                            <ul class="product-links">
                                <li><a href="#"><i class="bi bi-search"></i></a></li>
                                <li><a href="#"><i class="bi bi-heart"></i></a></li>
                                <li><a href="#"><i class="bi bi-shuffle"></i></a></li>
                            </ul>
                            <a href="" class="add-to-cart">Add to Cart</a>
                        </div>
                        <div class="product-content">
                            <h3 class="title"><a href="#">LIQUID COOLING NZXT KRAKEN ELITE 360 BLACK</a></h3>
                            <div class="price">$50.55</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<%- include("partials/footer.ejs") %>